.flex-value {
	display: flex;
	.left {
		padding: 2px 4px;
		background: #eee;
	}
	.right {
		padding: 2px 4px;
		background: #fff;
	}
}

.item {
	margin-top: 8px;
}

.active {
	border: 1px solid green;
}

.isActiveRoute {
	border: 1px solid orange;
}